<?xml version="1.0"?>
<launch>

    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server_node" >

        <!-- INPUT -->
        <remap from="cloud_in" to="/camera/depth/points" />

        <!-- OUTPUT -->
        <remap from="octomap_binary" to="octomap_binary" /> 						<!-- rosrun octomap_server octomap_saver name.bt -->
        <remap from="octomap_full" to="octomap_full" /> 							<!-- rosrun octomap_server octomap_saver -f name.ot -->
        <remap from="occupied_cells_vis_array" to="occupied_cells_vis_array" />     <!-- subscribe to the topic occupied_cells_vis_array in RViz -->
        <remap from="octomap_point_cloud_centers" to="octomap_point_cloud_centers" />
        <remap from="projected_map" to="projected_map" />

        <!-- FRAMES -->
        <param name="frame_id" type="string" value="world" /> 	<!-- was odom | fixed map frame (set to 'map' if SLAM or localization running!) -->
        <!--<param name="map_frame_id" value="map" />-->
        <!--<param name="base_frame_id" type="string" value="base_link" />-->

        <!-- PARAMETERS -->
        <param name="latch" value="false" />
		<param name="resolution" value="0.05" />
        <!--<param name="filter_ground" type="bool" value="true" />-->
    </node>

</launch>
