<?xml version="1.0"?>
<launch>
    <arg name="camera" default="/camera/color"/>

    <!-- fistly image_raw -> image_rect -->
    <node ns="$(arg camera)" pkg="image_proc" type="image_proc" name="image_proc" />

<!--
<node pkg="viso2_ros" type="mono_odometer" name="mono_odometer">
    <remap from="image" to="$(arg camera)/image_rect"/>

    <param name="base_link_frame_id" value="rgbd_optical_camera_frame" />

    <param name="camera_height" value="1.00" />
    <param name="camera_pitch"  value="0.00" />
</node>
-->

    <node pkg="rtabmap_ros" type="rgbd_odometry" name="rgbd_odometry">
    
        <!-- INPUT -->
        <remap from="rgb/image" to="$(arg camera)/image_rect" />
        <remap from="rgb/camera_info" to="$(arg camera)/camera_info" />
        <remap from="depth/image" to="/camera/depth/image_raw" />

        <!-- OUTPUT -->
        <remap from="/odom" to="/odom" />

        <!-- FRAMES -->
        <param name="frame_id" value="rgbd_optical_camera_frame" />
        <param name="odom_frame_id" value="odom" />

        <!-- RTABMAP PARAMETERS -->
        <param name="Odom/Strategy" value="1"/>         <!-- 0=Frame-to-Map (F2M) | 1=Frame-to-Frame (F2F) -->
        <param name="Odom/Holonomic" value="false" />   <!-- cannot move instantly left/right -->
        <!-- <param name="Optimizer/Iterations" value="0"/> -->
        <!--<param name="Odom/FillInfoData" value="true" /> -->

        <!-- Automatically call reset odometry when lost, wait till finding a familiar frame, no null sent| https://github.com/introlab/rtabmap_ros/issues/100 -->
        <param name="Odom/ResetCountdown" value="1" />
        <param name="Rtabmap/StartNewMapOnLoopClosure" value="true" />
        <param name="publish_null_when_lost" value="false" />

        <param name="Reg/Force3DoF" value="true" />     <!-- 2D movement -->

        <!-- see here https://answers.ros.org/question/287084/handle-lost-visual-odometry-with-imu-sensor-fusion/ | to analamvanei to robot_localization-->
        <param name="publish_tf" value="false" />

        <param name="subscribe_rgbd" value="false" />   <!-- mporoume na kanoume kai synchronize to depth me raw me nodelet ktl(na to rotiso) -->

    </node>
</launch>
