<?xml version="1.0"?>

<launch>

    <arg name="world_name" default="$(find kymco_maxxer90_gazebo)/worlds/vineyard2.world"/>

    <include file="$(find kymco_maxxer90_gazebo)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
    </include>

    <include file="$(find kymco_maxxer90_gazebo)/launch/spawn_kymco_maxxer90.launch"/>

</launch>
