<?xml version="1.0"?>
<launch>
    
  <arg name="robot_name" default="kymco_maxxer90"/>
    <arg name="model" default="$(find kymco_maxxer90_description)/urdf/kymco_maxxer90.urdf.xacro"/>

    <param name="robot_description" command="$(find xacro)/xacro '$(arg model)'" />
    <param name="use_gui" value="false" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

</launch>
